<!DOCTYPE html>
<html lang="zxx">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="ACMS">
        <meta name="keywords" content="unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ACMS</title>

        <!-- Google Font -->
        <link
            href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    </head>

    <body>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <!-- Header Section Begin -->
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="header__logo">
                            <a href="./index.html"><h2>ACMS</h2></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="header__nav__option">
                            <nav class="header__nav__menu mobile-menu">
                                <ul>
                                    <li><a href="/Home">Home</a></li>
                                    <li><a href="/Services">Services</a></li>
                                    <li><a href="/Help" class="active">Help</a></li>
                                    <li><a href="/Contact">Contact</a></li>
                                    <li><a href="/Login">Login</a></li>
                                    <li><a href="/Getdetails">GetDetails</a></li>
                                    

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </header>
        <!-- Header End -->

        <!-- Breadcrumb Begin -->
        <div class="breadcrumb-option spad set-bg"
            data-setbg="/static/img/breadcrumb-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumb__text">
                            <h2>Queries</h2>
                            <div class="breadcrumb__links">
                                <a href="#">Home</a>
                                <span>Queries</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- help Section Begin -->
        <section class="help spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="help__item">
                            <h4>Displaying Warning Mac not Registered</h4>
                            <p>You tried to Log in with your credentials
                                but shows warning Mac not registered. In
                                this situation you can register your Mac
                                Address by using the UID Number, provided at the
                                time of
                                registering. You need to type your UID Number
                                and click on register Mac Address. A user can
                                only register a max of
                                3 Mac Address for his/her credentials.
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="help__item">
                                <h4>Displaying Warning IP not Registered</h4>
                                <p>You tried to Log in with your credentials
                                    but shows warning IP not Registered. In
                                    this situation you can register your IP
                                    Address by using the UID Number, provided at
                                    the time of
                                    registering. You need to type your UID
                                    Number
                                    and click on register IP Address. A user can
                                    only register a max of
                                    3 IP Address for his/her credentials.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="help__item">
                                <h4>Displaying Warning IP and Mac not Registered</h4>
                                <p>You tried to log in with your credentials
                                    but shows warning IP and Mac not Registered.
                                    In
                                    this situation the user will receive an mail
                                    regarding a proxy login attempts containing
                                    actions
                                    "<b>Allow Access</b>" and "<b>Block Access</b>".
                                    By clicking on allow access you need to
                                    register
                                    your IP and Mac Address using your UID
                                    Number.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="help__item">
                                <h4>Displaying Warning IP Registered but Mac not
                                    Registered</h4>
                                <p>You tried to Log in with your credentials
                                    but shows warning IP Registered but Mac not
                                    Registered. In this situation you can
                                    register your Mac
                                    Address by using the UID Number, provided at
                                    the time of
                                    registering. You need to type your UID
                                    Number
                                    and click on register Mac Address. A user
                                    can
                                    only register a max of
                                    3 Mac Address for his/her credentials.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="help__item">
                                <h4>Displaying Warning Mac Registered but IP not
                                    Registered</h4>
                                <p>You tried to Log in with your credentials
                                    but shows warning Mac Registered but IP not
                                    Registered. In this situation you can
                                    register your IP
                                    Address by using the UID Number, provided at
                                    the time of
                                    registering. You need to type your UID
                                    Number
                                    and click on register IP Address. A user can
                                    only register a max of
                                    3 IP Address for his/her credentials.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="help__item">
                                <h4>Displaying Warning IP and Mac not Registered</h4>
                                <p>You tried to log in with your credentials
                                    but shows warning IP and Mac not Registered.
                                    In
                                    this situation the user will receive an mail
                                    regarding a proxy login attempts containing
                                    actions
                                    "<b>Allow Access</b>" and "<b>Block Access</b>".
                                    By clicking on allow access you need to
                                    register
                                    your IP and Mac Address using your UID
                                    Number.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination__option help__pagi">
                                <a href="#" class="arrow__pagination
                                    left__arrow"><span
                                        class="arrow_left"></span> Prev</a>
                                <a href="#" class="number__pagination">1</a>
                                <a href="#" class="number__pagination">2</a>
                                <a href="#" class="arrow__pagination
                                    right__arrow">Next
                                    <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- help Section End -->

            <!-- Footer Section Begin -->
            <footer class="footer">
                <div class="container">
                    <div class="footer__top">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="footer__top__logo">
                                    <a href="help.html"><h2>ACMS</h2></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="footer__option__item">
                                    <h5>About us</h5>
                                    <p>We are a group of college students who
                                        have
                                        developed this software which protects
                                        your
                                        data from any fraudulent login attempt
                                        or
                                        from any cyber attacks.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="footer__option__item">
                                    <h5>Newsletter</h5>
                                    <p>Any Problems, Complains or Suggestions
                                        please
                                        feel free to contact us.
                                    </p>
                                    <form action="#">
                                        <input type="text" placeholder="Email">
                                        <button type="submit"><i class="fa
                                                fa-send"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer__copyright">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <p class="footer__copyright__text">Copyright
                                    &copy;
                                    <script>
                                document.write(new Date().getFullYear());
                            </script>
                                    All rights reserved | This Website is made
                                    with
                                    <i class="fa fa-heart-o"
                                        aria-hidden="true"></i> by <a
                                        href="#"
                                        target="_blank">ACMS</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer Section End -->

            <!-- Js Plugins -->
            <script src="/static/js/jquery-3.3.1.min.js"></script>
            <script src="/static/js/bootstrap.min.js"></script>
            <script src="/static/js/jquery.magnific-popup.min.js"></script>
            <script src="/static/js/mixitup.min.js"></script>
            <script src="/static/js/masonry.pkgd.min.js"></script>
            <script src="/static/js/jquery.slicknav.js"></script>
            <script src="/static/js/owl.carousel.min.js"></script>
            <script src="/static/js/main.js"></script>
        </body>

    </html>