<!DOCTYPE html>
<html lang="zxx">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="ACMS">
        <meta name="keywords" content="unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ACMS</title>

        <!-- Google Font -->
        <link
            href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    </head>

    <body>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <!-- Header Section Begin -->
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="header__logo">
                            <a href="./index.html"><h2>ACMS</h2></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="header__nav__option">
                            <nav class="header__nav__menu mobile-menu">
                                <ul>
                                    <li><a href="/Home">Home</a></li>
                                    <li><a href="/Services" class="active">Services</a></li>
                                    <li><a href="/Help">Help</a></li>
                                    <li><a href="/Contact">Contact</a></li>
                                    <li><a href="/Login">Login</a></li>
                                    <li><a href="/Getdetails">GetDetails</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </header>
        <!-- Header End -->

        <!-- Breadcrumb Begin -->
        <div class="breadcrumb-option spad set-bg"
            data-setbg="/static/img/breadcrumb-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumb__text">
                            <h2>Our Sevices</h2>
                            <div class="breadcrumb__links">
                                <a href="#">Home</a>
                                <span>Services</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Services Section Begin -->
        <section class="services-page spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/static/img/4.png" alt="">
                            </div>
                            <h4>Data Security</h4>
                            <p>Provides Data security by allowing
                                access to only registered user's by using
                                blockchain and IP address.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/static/img/3.png" alt="">
                            </div>
                            <h4>Verification of IP Address</h4>
                            <p>Verifies IP Address of the device
                                and gives access to only registered
                                IP Address.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/static/img/1.png" alt="">
                            </div>
                            <h4>Blocking Access</h4>
                            <p>Verifies IP Address of the device,
                                checks if IP registered, blocks access
                                of website to unregistered IP.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/static/img/7.png" alt="">
                            </div>
                            <h4>IP Behind VPN/Proxy</h4>
                            <p>Traces IP Address behind VPN or
                                Proxy server and blocks of IP's
                                with such attempts.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/static/img/6.png" alt="">
                            </div>
                            <h4>Multiple IP's allowed</h4>
                            <p>Registered user can list 3 IP Address
                                from which subsequently can login.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/static/img/2.png" alt="">
                            </div>
                            <h4>Log History</h4>
                            <p>Provides log history to the user,at
                                what date and time and with which IP
                                Address has login. And visited pages history.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Section End -->

        <!-- Footer Section Begin -->
        <footer class="footer">
            <div class="container">
                <div class="footer__top">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="footer__top__logo">
                                <a href="#"><h2>ACMS</h2></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="footer__option__item">
                                <h5>About us</h5>
                                <p>We are a group of college students who have
                                    developed this software which protects your
                                    data from any fraudulent login attempt or
                                    from any cyber attacks.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="footer__option__item">
                                <h5>Newsletter</h5>
                                <p>Any Problems, Complains or Suggestions please
                                    feel free to contact us.</p>
                                <form action="#">
                                    <input type="text" placeholder="Email">
                                    <button type="submit"><i class="fa fa-send"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__copyright">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <p class="footer__copyright__text">Copyright &copy;
                                <script>
                                document.write(new Date().getFullYear());
                            </script>
                                All rights reserved | This Website is made with
                                <i class="fa fa-heart-o"
                                    aria-hidden="true"></i> by <a href="ACMS"
                                    target="_blank">ACMS</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->

        <!-- Js Plugins -->
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/mixitup.min.js"></script>
        <script src="/static/js/masonry.pkgd.min.js"></script>
        <script src="/static/js/jquery.slicknav.js"></script>
        <script src="/static/js/owl.carousel.min.js"></script>
        <script src="/static/js/main.js"></script>
    </body>

</html>